<li class="list-group-item">
    {{file.name}}
    <div class="pull-right">
        <span ng-click="delete(file.name)" style="margin-right: 5px;cursor:pointer;" class="glyphicon glyphicon-remove"> </span>
        <span ng-click="update(file.name)" style="cursor:pointer;" class="glyphicon glyphicon-edit"> </span>
    </div>
</li>
