<th scope="row" style="width: 5%;"></th>
<td><input class="form-control" type="text" ng-model="row.string"/></td>
<td><input class="form-control" type="text" ng-model="row.translate" value=""/></td>
<td style="width: 8%;">
    <span ng-click="deleteRow(index)" style="margin-right: 5px;cursor:pointer;" class="glyphicon glyphicon-remove removeRow"> </span>
</td>
